:root {
  --element-active-color: rgba(255, 255, 255, 1);
  --element-neutral-color: rgba(255, 255, 255, .600);
  --element-disabled-color: rgba(255, 255, 255, .300);
  --element-active-inverted-color: rgba(0, 0, 0, 1);
  --element-neutral-inverted-color: rgba(0, 0, 0, .600);
  --element-disabled-inverted-color: rgba(0, 0, 0, .300);
  --container-backdrop-color: rgba(30, 30, 30, 1);
  --container-background-color: rgba(46, 46, 46, 1);
  --container-section-color: rgba(54, 54, 54, 1);
  --container-global-color: rgba(64, 64, 64, 1);
  --border-divider-color: rgba(255, 255, 255, .120);
  --border-outline-color: rgba(0, 0, 0, .400);
  --normal-enabled-background-color: rgba(64, 64, 64, 1);
  --normal-enabled-border-color: rgba(153, 153, 153, 1);
  --normal-hover-background-color: rgba(82, 82, 82, 1);
  --normal-hover-border-color: rgba(153, 153, 153, 1);
  --normal-pressed-background-color: rgba(128, 128, 128, 1);
  --normal-pressed-border-color: rgba(179, 179, 179, 1);
  --normal-focused-background-color: rgba(64, 64, 64, 1);
  --normal-focused-border-color: rgba(255, 200, 0, 1);
  --normal-disabled-background-color: rgba(255, 255, 255, .000);
  --normal-disabled-border-color: rgba(255, 255, 255, .300);
  --on-normal-active-color: rgba(255, 255, 255, 1);
  --on-normal-neutral-color: rgba(255, 255, 255, .700);
  --on-normal-disabled-color: rgba(255, 255, 255, .300);
  --raised-enabled-background-color: rgba(255, 255, 255, .400);
  --raised-enabled-border-color: rgba(255, 255, 255, .120);
  --raised-hover-background-color: rgba(255, 255, 255, .500);
  --raised-hover-border-color: rgba(255, 255, 255, .120);
  --raised-pressed-background-color: rgba(255, 255, 255, .600);
  --raised-pressed-border-color: rgba(255, 255, 255, .400);
  --raised-focused-background-color: rgba(255, 255, 255, .400);
  --raised-focused-border-color: rgba(255, 197, 0, 1);
  --raised-disabled-background-color: rgba(0, 0, 0, .000);
  --raised-disabled-border-color: rgba(255, 255, 255, .300);
  --on-raised-active-color: rgba(255, 255, 255, 1);
  --on-raised-neutral-color: rgba(255, 255, 255, .700);
  --on-raised-disabled-color: rgba(255, 255, 255, .300);
  --indent-enabled-background-color: rgba(0, 0, 0, .300);
  --indent-enabled-border-color: rgba(0, 0, 0, .600);
  --indent-hover-background-color: rgba(0, 0, 0, .400);
  --indent-hover-border-color: rgba(0, 0, 0, .200);
  --indent-pressed-background-color: rgba(0, 0, 0, .600);
  --indent-pressed-border-color: rgba(0, 0, 0, .600);
  --indent-focused-background-color: rgba(0, 0, 0, .300);
  --indent-focused-border-color: rgba(255, 197, 0, 1);
  --indent-disabled-background-color: rgba(0, 0, 0, .000);
  --indent-disabled-border-color: rgba(255, 255, 255, .300);
  --on-indent-active-color: rgba(255, 255, 255, 1);
  --on-indent-neutral-color: rgba(255, 255, 255, .700);
  --on-indent-disabled-color: rgba(255, 255, 255, .300);
  --flat-enabled-background-color: rgba(0, 0, 0, .000);
  --flat-enabled-border-color: rgba(255, 255, 255, .000);
  --flat-hover-background-color: rgba(255, 255, 255, .200);
  --flat-hover-border-color: rgba(255, 255, 255, .000);
  --flat-pressed-background-color: rgba(255, 255, 255, .300);
  --flat-pressed-border-color: rgba(255, 255, 255, .000);
  --flat-focused-background-color: rgba(0, 0, 0, .000);
  --flat-focused-border-color: rgba(255, 200, 0, 1);
  --flat-disabled-background-color: rgba(0, 0, 0, .000);
  --flat-disabled-border-color: rgba(255, 255, 255, .000);
  --on-flat-active-color: rgba(255, 255, 255, 1);
  --on-flat-neutral-color: rgba(255, 255, 255, .700);
  --on-flat-disabled-color: rgba(255, 255, 255, .300);
  --selected-enabled-background-color: rgba(204, 204, 204, 1);
  --selected-enabled-border-color: rgba(255, 255, 255, .000);
  --selected-hover-background-color: rgba(204, 204, 204, 1);
  --selected-hover-border-color: rgba(255, 255, 255, .000);
  --selected-pressed-background-color: rgba(229, 229, 229, 1);
  --selected-pressed-border-color: rgba(255, 255, 255, .000);
  --selected-focused-background-color: rgba(179, 179, 179, 1);
  --selected-focused-border-color: rgba(255, 197, 0, 1);
  --selected-disabled-background-color: rgba(255, 255, 255, .300);
  --selected-disabled-border-color: rgba(255, 255, 255, .000);
  --on-selected-active-color: rgba(0, 0, 0, 1);
  --on-selected-neutral-color: rgba(0, 0, 0, .700);
  --on-selected-disabled-color: rgba(255, 255, 255, .300);
  --thumb-enabled-background-color: rgba(229, 229, 229, 1);
  --thumb-enabled-border-color: rgba(0, 0, 0, .600);
  --thumb-hover-background-color: rgba(204, 204, 204, 1);
  --thumb-hover-border-color: rgba(0, 0, 0, .600);
  --thumb-pressed-background-color: rgba(153, 153, 153, 1);
  --thumb-pressed-border-color: rgba(0, 0, 0, .600);
  --thumb-focused-background-color: rgba(255, 255, 255, 1);
  --thumb-focused-border-color: rgba(255, 197, 0, 1);
  --thumb-disabled-background-color: rgba(0, 0, 0, .300);
  --thumb-disabled-border-color: rgba(0, 0, 0, .000);
  --on-thumb-active-color: rgba(0, 0, 0, 1);
  --on-thumb-neutral-color: rgba(0, 0, 0, .700);
  --on-thumb-disabled-color: rgba(255, 255, 255, .300);
  --amplified-enabled-background-color: rgba(64, 64, 64, 1);
  --amplified-enabled-border-color: rgba(153, 153, 153, 1);
  --amplified-hover-background-color: rgba(82, 82, 82, 1);
  --amplified-hover-border-color: rgba(153, 153, 153, 1);
  --amplified-pressed-background-color: rgba(128, 128, 128, 1);
  --amplified-pressed-border-color: rgba(179, 179, 179, 1);
  --amplified-focused-background-color: rgba(64, 64, 64, 1);
  --amplified-focused-border-color: rgba(255, 200, 0, 1);
  --amplified-disabled-background-color: rgba(255, 255, 255, .200);
  --amplified-disabled-border-color: rgba(255, 255, 255, .000);
  --on-amplified-active-color: rgba(255, 255, 255, 1);
  --on-amplified-neutral-color: rgba(255, 255, 255, .700);
  --on-amplified-disabled-color: rgba(255, 255, 255, .300);
  --instrument-dynamic-color: rgba(0, 220, 150, 1);
  --instrument-static-color: rgba(255, 255, 255, 1);
  --instrument-input-color: rgba(255, 200, 0, 1);
  --alert-running-color: rgba(0, 160, 0, 1);
  --alert-caution-color: rgba(255, 213, 0, 1);
  --alert-warning-color: rgba(255, 140, 0, 1);
  --alert-alarm-color: rgba(204, 0, 0, 1);
  --alert-critical-alarm-color: rgba(254, 0, 255, 1);
  --running-enabled-background-color: rgba(0, 153, 0, 1);
  --running-enabled-border-color: rgba(0, 0, 0, .120);
  --running-hover-background-color: rgba(0, 102, 0, 1);
  --running-hover-border-color: rgba(0, 0, 0, .120);
  --running-pressed-background-color: rgba(0, 77, 0, 1);
  --running-pressed-border-color: rgba(0, 0, 0, .300);
  --running-focused-background-color: rgba(0, 160, 0, 1);
  --running-focused-border-color: rgba(0, 0, 0, 1);
  --running-disabled-background-color: rgba(0, 204, 0, .000);
  --running-disabled-border-color: rgba(0, 204, 0, 1);
  --on-running-active-color: rgba(0, 0, 0, 1);
  --on-running-neutral-color: rgba(0, 0, 0, .700);
  --on-running-disabled-color: rgba(0, 0, 0, .300);
  --caution-enabled-background-color: rgba(255, 213, 0, 1);
  --caution-enabled-border-color: rgba(0, 0, 0, .120);
  --caution-hover-background-color: rgba(204, 170, 0, 1);
  --caution-hover-border-color: rgba(0, 0, 0, .200);
  --caution-pressed-background-color: rgba(153, 128, 0, 1);
  --caution-pressed-border-color: rgba(0, 0, 0, .400);
  --caution-focused-background-color: rgba(255, 213, 0, 1);
  --caution-focused-border-color: rgba(0, 0, 0, 1);
  --caution-disabled-background-color: rgba(255, 213, 0, 1);
  --caution-disabled-border-color: rgba(0, 0, 0, .000);
  --on-caution-active-color: rgba(0, 0, 0, 1);
  --on-caution-neutral-color: rgba(0, 0, 0, .700);
  --on-caution-disabled-color: rgba(0, 0, 0, .300);
  --warning-enabled-background-color: rgba(255, 140, 0, 1);
  --warning-enabled-border-color: rgba(0, 0, 0, .120);
  --warning-hover-background-color: rgba(204, 112, 0, 1);
  --warning-hover-border-color: rgba(0, 0, 0, .200);
  --warning-pressed-background-color: rgba(153, 84, 0, 1);
  --warning-pressed-border-color: rgba(0, 0, 0, .400);
  --warning-focused-background-color: rgba(255, 140, 0, 1);
  --warning-focused-border-color: rgba(0, 0, 0, 1);
  --warning-disabled-background-color: rgba(255, 140, 0, 1);
  --warning-disabled-border-color: rgba(0, 0, 0, .000);
  --on-warning-active-color: rgba(0, 0, 0, 1);
  --on-warning-neutral-color: rgba(0, 0, 0, .700);
  --on-warning-disabled-color: rgba(0, 0, 0, .300);
  --alarm-enabled-background-color: rgba(204, 0, 0, 1);
  --alarm-enabled-border-color: rgba(0, 0, 0, .120);
  --alarm-hover-background-color: rgba(153, 0, 0, 1);
  --alarm-hover-border-color: rgba(0, 0, 0, .200);
  --alarm-pressed-background-color: rgba(102, 0, 0, 1);
  --alarm-pressed-border-color: rgba(0, 0, 0, .400);
  --alarm-focused-background-color: rgba(204, 0, 0, 1);
  --alarm-focused-border-color: rgba(0, 0, 0, 1);
  --alarm-disabled-background-color: rgba(204, 0, 0, 1);
  --alarm-disabled-border-color: rgba(0, 0, 0, .000);
  --on-alarm-active-color: rgba(0, 0, 0, 1);
  --on-alarm-neutral-color: rgba(0, 0, 0, .700);
  --on-alarm-disabled-color: rgba(0, 0, 0, .300);
  --critical-alarm-enabled-background-color: rgba(254, 0, 255, 1);
  --critical-alarm-enabled-border-color: rgba(0, 0, 0, .120);
  --critical-alarm-hover-background-color: rgba(203, 0, 204, 1);
  --critical-alarm-hover-border-color: rgba(0, 0, 0, .200);
  --critical-alarm-pressed-background-color: rgba(152, 0, 153, 1);
  --critical-alarm-pressed-border-color: rgba(0, 0, 0, .400);
  --critical-alarm-focused-background-color: rgba(254, 0, 255, 1);
  --critical-alarm-focused-border-color: rgba(0, 0, 0, 1);
  --critical-alarm-disabled-background-color: rgba(254, 0, 255, 1);
  --critical-alarm-disabled-border-color: rgba(0, 0, 0, .000);
  --on-critical-alarm-active-color: rgba(0, 0, 0, 1);
  --on-critical-alarm-neutral-color: rgba(0, 0, 0, .700);
  --on-critical-alarm-disabled-color: rgba(0, 0, 0, .300);
  --font-ui-title-size: 24px;
  --font-ui-title-weight: bold;
  --font-ui-title-line-height: 32px;

  --font-ui-subtitle-size: 24px;
  --font-ui-subtitle-weight: normal;
  --font-ui-subtitle-line-height: 32px;

  --font-ui-overline-size: 12px;
  --font-ui-overline-weight: semibold;
  --font-ui-overline-line-height: 24px;

  --font-ui-button-size: 16px;
  --font-ui-button-weight: semibold;
  --font-ui-button-line-height: 24px;

  --font-ui-body-active-size: 16px;
  --font-ui-body-active-weight: bold;
  --font-ui-body-active-line-height: 24px;

  --font-ui-body-size: 16px;
  --font-ui-body-weight: normal;
  --font-ui-body-line-height: 24px;

  --font-ui-label-active-size: 12px;
  --font-ui-label-active-weight: bold;
  --font-ui-label-active-line-height: 24px;

  --font-ui-label-size: 12px;
  --font-ui-label-weight: normal;
  --font-ui-label-line-height: 24px;

  --font-instrument-label-s-size: 16px;
  --font-instrument-label-s-weight: normal;

  --font-instrument-label-m-size: 24px;
  --font-instrument-label-m-weight: normal;

  --font-instrument-label-l-size: 32px;
  --font-instrument-label-l-weight: normal;

  --font-instrument-value-s-size: 16px;
  --font-instrument-value-s-weight: semibold;

  --font-instrument-value-m-size: 32px;
  --font-instrument-value-m-weight: semibold;
  --font-instrument-value-m-line-height: 48px;

  --font-instrument-value-l-size: 64px;
  --font-instrument-value-l-weight: semibold;
  --font-instrument-value-l-line-height: 88px;

  --font-instrument-unit-s-size: 16px;
  --font-instrument-unit-s-weight: normal;

  --font-instrument-unit-m-size: 24px;
  --font-instrument-unit-m-weight: normal;
  --font-instrument-unit-m-line-height: 48px;

  --font-instrument-unit-l-size: 32px;
  --font-instrument-unit-l-weight: normal;
  --font-instrument-unit-l-line-height: 48px;

  --font-instrument-status-s-size: 16px;
  --font-instrument-status-s-weight: normal;

  --font-instrument-status-m-size: 24px;
  --font-instrument-status-m-weight: normal;

  --font-instrument-status-l-size: 32px;
  --font-instrument-status-l-weight: normal;
}